.search-container {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.search-result-item {
	border-top: 0.1em solid lightgrey;
	padding-top: 2%;
	padding-bottom: 1%;

}

.search-results{
	margin-top: 2%;
}

.search-form {
	padding-top: 2%;
}

ul {
	padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.row {
	margin-right: 0em;
    margin-left: 0em; 
}

.item-name{
	margin-right: 1em;
}

.preview-button {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 40px;
    font-size: 14px;
}